body {
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
  margin: 0;
}

.error {
  color: red;
  position: absolute;
  top: 175px;
  left: 20px;
}

a {
  color: white;
}

th {
  width: 450px;
  align-items: center;
  background-color: #c02739;
  color: #fff;
  position: sticky;
  top: 0;
}

tr,
td {
  text-align: center;
}

.table td {
  border: 0;
  margin: 0;
  padding: 0;
}

.table th {
  padding-top: 0;
  padding-bottom: 0;
}

.list-group-item {
  padding: 0;
}

tr:nth-child(even) {
  background-color: #ecfbfc;
}

tr:hover {
  background-color: #9dc6a7;
}

.header {
  width: 100%;
  position: fixed;
  padding: 10px 20px;
  background-color: #5b8c85;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Piedra', cursive;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 35px;
  color: white;
}

.headerTitle {
  font-size: 50px;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}

.grid {
  display: grid;
  margin-top: 0;
  grid-template-columns: 1fr 2fr;
  padding: 120px 20px;
  grid-template-areas: "work1 work2";
}

.work1 {
  grid-area: work1;
  position: fixed;
  width: 450px;
  padding-left: 0;
}

.virusImage {
  width: 550px;
  border-radius: 50%;
  position: absolute;
  right: 20%;
  top: 220px;
}

.work2 {
  grid-area: work2;
  height: 85%;
  overflow-y: auto;
  position: fixed;
  top: 120px;
  left: 480px;
  text-align: center;
}

.image {
  width: 400px;
  height: 100px;
}

.country-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
  background-color: #e4e4e4;
}

button {
  border: none;
  font-size: 15px;
}

.modal {
  text-align: center;
}

@media all and (max-width: 750px) {
  body {
    font-size: 10px;
  }

  .headerTitle {
    font-size: 20px;
  }

  .navbarCollapse {
    font-size: 16px;
  }

  .navbarItem {
    padding: 0;
  }

  .grid {
    padding: 120px 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "work1"
      "work2";
  }

  .work1 {
    padding-top: 10px;
    position: sticky;
    top: 150px;
    width: unset;
  }

  .work2 {
    margin-top: 20px;
    padding-right: 20px;
    position: fixed;
    top: 230px;
    left: 20px;
    height: 60%;
  }

  th {
    position: sticky;
    top: 0;
  }

  .virusImage {
    display: none;
  }

  .error {
    top: 130px;
  }
}
